*{
    margin: 0;
    padding: 0;
}
body{
    background : #FF6347;
    font-size: 15px;
    font-family: 'Lunasima', sans-serif;

}

.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: #fff;
    display: flex;

}
.contact-left{
    flex-basis: 40%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    color: #fff;
    background: #b22222;
    
}

h1{
    margin-bottom: 10px;

}
.container p{
    margin-bottom: 40px;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
    
    

    
}
.input-row .input-group{
    flex-basis: 45%;
   
    
}

input{
    width: 80%;
    padding-right: 45px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border:1px solid #ccc;
    outline: none;
    padding: 10px;
    
}
label{
    margin-bottom: 6px;
    display: block;
    color: #FF6347;
}
button{
    background: #FF6347;
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    
}

button:hover{
    cursor: pointer;
}
.contact-left h3{
    color:#FF6347;
    font-weight: 600;
    margin-bottom: 30px;



}
.contact-right h2{
    
    font-weight: 600;
    margin-bottom: 30px;
    


}

tr td:first-child{
    padding-right: 20px;

}
tr td{
    padding-top: 20px;
}